

footer{
    background-color: #000;
    color: #fff;
}

.footer-common-frame{
    width: 100%;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1.35rem;
}

.footer-logo img{
    width: 100%;
    height: 100%;    
    object-fit: contain;
}

.address{
    margin-top: 1rem;
}

.footer-gnb>ul{
    margin-top: 1.35rem;
    display: flex;
    gap: 8rem;
}

.footer-gnb>ul>li{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-gnb>ul>li>a{
    font-weight: 700;
}

.footer-gnb-2dep{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-info{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

.info{
    margin: 0 5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.info>ul{
    display: flex;
    gap: 50px;
}

.info>ul>li>a{
    display: block;
}

.footer-sns{
    width: 100%;
}

.footer-sns>ul{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-sns>ul>li>a{
    display: block;
}

.footer-bottom{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1440px){
   .footer-gnb>ul{
        gap: 3rem;
    }
}

@media (max-width: 1024px){
    .footer-gnb>ul{
        gap: 2rem;
    }
}

@media (max-width: 768px){
    .footer-top{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-logo{
    width: 100%;
    }

    .ad_last{
        margin-top: 1rem;
    }

    .footer-gnb>ul{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 5.5rem;
    }

    .info{
        margin: 0 1rem;
    }

    .info>ul {
        gap: 1rem;
        flex-direction: column;
    }
}

@media (max-width: 393px){
    .footer-sns>ul{
        gap: .5rem;
    }
    .footer-bottom>p{
        font-size: .8rem;
    }
}