.header_smart{display: none;}

.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    z-index: 5000000;
    background-color: #000;
    justify-content: center;
    align-items: center;
    transition: all 1s ease 0s;
    overflow: hidden;
}

.intro.on{
    height: 0;
}

.intro figure {
    transition: all 0.5s ease 0s;
    width: 50%;
}
.intro figure img {
    width: 100%;
}


header {
    background: linear-gradient(#000000 0%, #00000061 45%, #00000026 67%, #00000000 100%);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: all 0.5s ease 0s;
}

header:hover{background: #000;}

header.on{
    transform: translateY(-200%);
}

.header-wrap{
    color: #fff;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
}

.logo img {
    object-fit: cover;
    height: 1.5rem;
}

.gnb{
    display: flex;
}

.gnb>li{
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.gnb>li:hover{
    text-decoration: underline;
}

.lnb{
    display: flex;
    gap: 1rem;
}

.gnb>li{
    /* position: relative; */
}

.gnb>li>a{
    color: #fff;
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0 1.5rem;
}

.dropdown-wrapper {
    width: 100%;
    /* height: 393px; */
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#00000018,#000);
    z-index: 1000;
    min-width: 600px;
    padding:1rem 5rem;
    box-sizing: border-box;
    transition: all 0.6s ease 0s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height  0.6s ease 0s;
    pointer-events: none;
}

.gnb > li:hover .dropdown-wrapper {
    /* display: block; */
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
    background: #000;
}

.image-area{
    width: 706px;
    height: 369px;
}

.dropdown-inner{
    display: flex;
    gap: 8rem;
}

.menu-column{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-area{
    display: flex;
    gap: 6rem;
}

.dep2{
    margin-bottom: var(--space-normal);
    font-weight: var(--font-strong);
    display: block;
}

.header-smart{
    display: none;
}
