html{
    background-color: #000;
    color: #fff;
}

.header_smart{
    width: 100%;
    background-color: #000;
}

.header_smart>.common_frame{
    display: flex;
    justify-content: space-between;
    padding-top: 2.6rem;
    /* display: none; */
}

.logo_smart img{
    height: 1.5rem;
}

.hg1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.6rem;
}

.hg_lnb{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: #fff;
}