.common-frame-login{
    width: 427px;
    margin: 12rem auto;
}

h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

.idpw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.idpw label{
    display: none;
}

.idpw input{
    width: 100%;
    padding: 0.5rem 18.5rem 0.5rem 0.75rem;
    height: 40px;
    box-sizing: border-box;
}

.check{
    display: flex;
    justify-content: space-between;
}

.check section{
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    font-size: .8rem;
}

.btn{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn button{
    border: none;
    width: 100%;
    height: 57px;
    cursor: pointer;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    outline: none;
}

.login a {
    border: none;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    align-items: center;
    color: #fff;
    border: none;
    justify-content: center;
    outline: none;
}

.join a{
    display: flex;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sns-login{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sns-login section{
    display: flex;
    gap: 3rem;
}

h3{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: #818181;}