@media (max-width: 768px){
    .hero-banner {
        width: 100%;
        height: 70vh;
    }

    .content>p{
        font-size: 24px;
    }

    .sub-cont{
        flex-direction: column;
    }
    .slider{
        width: 100%;
        flex: 1;
    }
    .video{
        width: 100%;
        flex: 1;
    }
    .popuplist a img{
        width: 100%;
        object-fit: cover;
    }
}

