@media (max-width: 1460px){
    .hero-banner {
        width: 100%;
        height: 90vh;
    }
    
    .hero-banner video {
        object-position: center;
    }

    .content>p{
        font-size: 45px;
    }

    


}