

.hero-banner {
    width: 100%;
    height: calc(100vh);
    overflow: hidden;
    position: relative;
    background-color: #000;
}

.hero-banner video {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.7);
}

.hero-text{
    position: absolute;
    left: 5%;
    top: 83%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    text-align: left;
}

.hero-text h1{
    font-size: 3rem;
    line-height: 1.2;
}

.hero-text p{
    text-decoration: underline;
}

.bestseller{
    margin-top: var(--space-3x-large);
    & h1{
        font-family: "Playfair Display", serif;
        margin-bottom: 3rem;
        text-align: center;
    }
    & .scroll-list{
        width: 100%;
    }
}

/* .best-item{
    width: 435px;
    height: 706px;
} */

.best-item a{
    display: block;
    width: 100%;
}

.best-item a div{
    margin-bottom: 1rem;
    width: 100%;
}.best-item a div img{
    width: 100%;
}

.best-item a h3{
    margin-bottom: 0.25rem;
    width: 100%;
    white-space: nowrap;        
    overflow: hidden;          
    text-overflow: ellipsis;             
}

.best-item a p{
    width: 100%;
    white-space: nowrap;        
    overflow: hidden;          
    text-overflow: ellipsis;             
}

.content{
    width: 100%;
    margin-top: var(--space-3x-large);
    & p{
        font-family: "Playfair Display", serif;
        font-size: 50px;
        margin-left: 3rem;
    }
    .sub-cont{
        display: flex;
        width: auto;
        & .slider{
            flex: 1;
            /* border: 1px solid #000; */
            box-sizing: border-box;
            position: relative;
        }
        & .video{
            position: relative;
            flex: 1;
        }
    }
}



.popup .swiper-pagination-bullet-active {
    background: #0E2687;
    opacity: var(--swiper-pagination-bullet-opacity,1);
}

.overlay_text{
    font-family: "Playfair Display", serif;
    z-index: 100;
}

.popuplist a img{
    width: 100%;
    object-fit: cover;
}

.slider>a{display: block;}
.slider h1{
    position: absolute;
    left: 5%;
    top: 5%;    
}
.video>a{display: block;}
.video h1{
    position: absolute;
    right: 5%;
    top: 5%;    
}

.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab_banner{display: none;}
.mo_banner{display: none;}

.sub-banner{
    width: 100%;
}

.subbanner a img{
    width: 100%;
    object-fit: cover;
}

.subbanner .swiper-pagination-bullet-active {
    background: #fff;
    opacity: var(--swiper-pagination-bullet-opacity,1);
}
.new_title{
    margin-top: var(--space-3x-large);
    margin-bottom: 3rem;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.new{
    width: 100%;
    /* & .new-scroll-list{
        width: 100%;
        height: 706px;
    } */
}

/* .new-item{
    width: 435px;
    height: 706px;
} */

.new-item a{
    display: block;
    width: 100%;
}

.new-item a div{
    margin-bottom: 1rem;
    width: 100%;
}

.new-item a div img{
    width: 100%;
}

.new-item a h3{
    margin-bottom: 0.25rem;
    width: 435px;
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;  
    width: 100%;             
}

.review_title{
    font-family: "Playfair Display", serif;
    margin-top: var(--space-3x-large);
    margin-bottom: 3rem;
}

.review{
    width:100%;
}

.review-item{
    position: relative;
}

.review-item a{
    display: block;
    width: 100%;
}

.review-item a+img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.hidden-review{
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    opacity: 0;
    transition: all 0.5s ease 0s;

}

.hidden-review:hover{
    opacity: 1;
}

.review_content{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.sns{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%
}

.sns-h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns h3 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
}

.sns section {
    flex: 1;  /* 각 section이 똑같은 너비 */
}

.sns section img {
    aspect-ratio: 1/1;
    width: 100%;  /* 부모의 100% */
    object-fit: cover;
}