.serch-modal{
    display: none;
    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: 100%;
}
.serch-modal.show {
  display: flex;
}
.serch-modal-content{
    background-color: #fff;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
}
fieldset{
    border: none;
    position: relative;
}
#search-txt{
    width: 850px;
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}
fieldset a{
    position: absolute;
    top: 20%;
    right: 2%;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}
.recom{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}
.serch-modal-close {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}