:root{
    /* basic size 1rem */
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /* color variation */
    --mood-in-blue-0:#8099FF;
    --mood-in-blue-100:#6987FD;
    --mood-in-blue-200:#5475F9; 
    --mood-in-blue-300:#4165F2; 
    --mood-in-blue-400:#3257E9; 
    --mood-in-blue-500:#264BDD; 
    --mood-in-blue-600:#1D40CD; 
    --mood-in-blue-700:#1637B8;        
    --mood-in-blue-800:#112EA0;
    --mood-in-blue-main-900:#0E2687;  

    --font-strong:700;
    --font-normal:400;

    /* line-height */
    --text-line-height:140%;
    --base-line-height:120%;

    /* spacing */
    --space-normal:1rem;
    --space-x-small:0.5rem;
    --space-2x-small:0.25rem;
    --space-large:2rem;
    --space-x-large:3rem;
    --space-2x-large:4rem;
    --space-3x-large:5rem;
    --space-4x-large:12rem;

    /* semantic color */
    --color-inactive:#777;
}
html{
    font-family: 'Pretendard', sans-serif;
    line-height: var(--base-line-height);
}

h1{
    font-size: 1.6rem;
    font-weight: var(--font-strong);
}
h2{
    font-size: 1.4rem;
    font-weight: var(--font-strong);
}
h3{
    font-size: 1.25rem;
    font-weight: var(--font-strong);
}
h4{
    font-size: 1rem;
    font-weight: var(--font-strong);
}
p{
    font-size: 1rem;
    line-height: var(--text-line-height);
}
.b2{
    font-size: 0.9rem;
}
.detail{
    font-size: 0.8rem;
}

.pf{font-family: "Playfair Display", serif;}

.common_frame{
    margin: 0 5rem;
}
em{
    font-style: inherit;
    color: var(--mood-in-blue-main-900);
}

.slider-container {
    overflow-x: auto;
  /* 슬라이드처럼 멈춤 */
  /* scroll-snap-type: x mandatory;  */
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
  white-space: nowrap;
  display: flex;
  width: 62%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-track{
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-track::-webkit-scrollbar {
    display: none;
}

.slider-track span {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* webkit 계열의 브라우저 -> 크롬 엣지 사파리 */
::-webkit-scrollbar{
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track{
    background: #eee;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb{
    background: #bdbdbd;
    /* border-radius: 10px; */
}

@media (max-width: 1460px){
    html{
        font-size: var(--basic-font-tab);
    }
    .common_frame{
        margin: 0 2rem;
    }
}

@media (max-width: 768px){
    html{
        font-size: var(--basic-font-mobile);
    }
    .common_frame{
        margin: 0 1rem;
    }
}