html{
    font-size: var(--basic-size-pc);
}
.common_frame ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6rem;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-normal);
    margin-top: var(--space-4x-large);
    width: 100%;
}
.search h1{
    flex-shrink: 0;
    margin-right: var(--space-normal);
}
.search form{
    flex: 1;
    max-width: 995px;
    width: 100%;
}
.search-icon{
    width: 1.5rem;
    height: 1.5rem;
}
#search-store{
    width: 100%;
    height: 84px;
    box-sizing: border-box;
    font-size: 1.4rem;
}
fieldset{
    border: none;
    position: relative;
    flex: 1;
    max-width: 995px;
}
.search fieldset a{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.store-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 6rem;
}
.store{
    border: 1px solid #000;
    padding: 3rem 1rem;
}
h3{
    margin-bottom: 1rem;
}
@media (max-width:1024px) {
    .search form{
        max-width: 547px;
    }
    fieldset{
        max-width: 547px;
    }
    #search-store{
        height: 53px;
        /* width: 547px; */
    }
    .store-list{
    grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:768px) {
    .search{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search h1{
        margin-right: 0;
    }
    #search-store{
        height: 53px;
    }
    .search h1{
        margin-bottom: 2rem;
    }
    fieldset{
        width: 100%;
    }
    #search-store{
        height: 32px;
        width: 100%;
    }
    .store-list{
        grid-template-columns: repeat(2,1fr);
    }
}