*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6rem;
}
.common-frame{
    margin: 0 5rem;
    margin-top: 6rem;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-store{
    width: 995px;
    height: 84px;
    margin-left: 1rem;
}
fieldset{
    border: none;
    position: relative;
}
.search fieldset a{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
#search-store{
    font-size: 1.4rem;
}
.store-list{
    display: grid;
    grid-template-columns: repeat(4,minmax(280px,1fr));
    gap: 1rem;
}
.store{
    border: 1px solid #000;
    padding: 3rem 1rem;
}
h3{
    margin-bottom: 1rem;
}
