html{
    font-size: var(--basic-size-pc);
}
h1{
    text-align: center;
    margin-top: var(--space-4x-large);
    margin-bottom: var(--space-x-large);
}
.common-frame h1{
    text-align: center;
    margin-bottom: 3rem;
}
.oreder-list{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 1rem;
}
.product{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.product .product-details{
    text-align: left;
}
.product .product-details .product-name{
    padding-bottom: 1rem;
}
.price{
    font-weight: 700;
}
span{
    color: blue;
}
thead{
    border-bottom: 1px solid #000;
}
table{
    border-top: 3px solid #000;
}
thead th{
    padding-bottom: 1rem;
    border-bottom: 1px solid #818181;
}
tbody td{
    padding: 2rem 0;
    border-bottom: 1px solid #818181;
}