html{
    font-size: var(--basic-size-pc);
}
h1{
    text-align: center;
    margin-top: var(--space-4x-large);
}
ol{
    list-style: none;
    margin-top: var(--space-2x-large);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: #818181;
}
ol li{
    position: relative;
}
ol li::after{
    /* 화살표 */
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    background: url("../../resource/signup/lucide_chevron-right.svg") no-repeat center / contain;
    width: 24px;
    height: 24px;    
}
ol li:last-child::after{
    /* 마지막 li에는 화살표 표시X */
    content: none;
}
ol li.act{
    color: #000;
}
ol li span{
    margin-right: var(--space-normal);
    font-size: 0.9rem;
    
}
ol li strong{
    font-size: 1.25rem;
    font-weight: 700;
}
.sign-form{
    margin: 0 auto;
    width: 850px;
    margin-top: var(--space-x-large);
}
fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-normal);
    margin-top: var(--space-x-large);
    border: none;
}
.sign-form h3{
    text-align: left;
    border-bottom: 2px solid black;
    padding-bottom: var(--space-2x-small);
}
.form-grop{
    display: flex;
    gap: var(--space-normal);
    text-align: left;
}
form{
    /* text-align: right; */
    margin-top: var(--space-normal);
    font-size: 1rem;
}
.text{
    font-size: 1rem;
    font-weight: 700;
    width: 270px;
}
input[type=text]{
    width: 200px;
    height: 20px;
}
#user-pw, #user-pw-re{
    width: 200px;
    height: 20px;
}
.radio{
    display: flex;
    gap: var(--space-normal);
}
.radio-form{
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}
.form-grop .grop-hor{
    gap: var(--space-normal);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grop-ver{
    gap: var(--space-normal);
    display: flex;
    flex-direction:column;
}
.form-grop .password{
    gap: var(--space-x-small);
}
.form-grop .password p{
    font-size: 0.8rem;
    color: #818181;
}
.form-grop .grop-ver .grop-hor .address-box,
.form-grop .grop-ver .address-box{
    width: 400px
}
.btn-check {
    background-color: #000;
    font-size: 1rem;
    font-weight: 700;
    width: 125px;
    color: #fff;
    cursor: pointer;
}
#user-phon1, #user-phon2, #user-phon3{
    width: 40px;
    height: 20px;
}
.user-phon span{
    margin: 0 var(--space-x-small);
}
#user-year{
    width: 34px;
    margin-right: var(--space-x-small);
}
#user-mon, #user-day{
    width: 25px;
    margin-left: var(--space-normal);
    margin-right: var(--space-x-small);
}
.email-selext{
    font-size: 1rem;
    height: 30px;
}
.next-step a{
    width: 425px;
    height: 57px;
    background-color: #000;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  5rem auto 6rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}