@media (min-width:1920px) {
    body{
        max-width: 1920px;
        margin: 0 auto;
    }
}
html{
    font-size: var(--basic-size-pc);
}
h1{
    text-align: center;
    margin-top: var(--space-4x-large);
}
ol{
    margin: 0 auto;
    max-width: 850px;
    list-style: none;
    margin-top: var(--space-2x-large);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 5vw, 15rem);
    color: var(--color-inactive);
    flex-wrap: nowrap;
    text-align: center;
}
ol li.arrow {
    flex: 0 0 auto; /* 크기 고정 */
    width: 1.25rem;
    height: 1.25rem;
    background: url("../../resource/signup/lucide_chevron-right.svg") no-repeat center / contain;
    flex-wrap: nowrap;
}
ol li.act{
    color: #000;
}
ol li span{
    margin-right: var(--space-normal);
    font-size: 0.9rem;
    
}
ol li strong{
    font-size: 1.25rem;
    font-weight: 700;
}
.common_frame .txt{
    margin-top: 6rem;
    text-align: center;
}
.txt1{
    margin-top: var(--space-2x-small);
}
.button{
    display: flex;
    flex-direction: column;
    margin-top: var(--space-3x-large);
    font-weight: 700;
    gap: var(--space-normal);
    align-items: center;
}
.but-login a{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 426px;
    height: 57px;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.but-main a{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #000;
    color: #fff;
    width: 426px;
    height: 57px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width:1024px) {
    html{
        font-size: var(--basic-size-tap);
    }
    .common_frame{
        margin: 0 3rem;
    }
    ol{
        max-width: 790px;
        justify-content: space-between;
        gap: var(--space-3x-large);
    }


}
@media (max-width: 768px) {
    html {
        font-size: var(--basic-size-mobile);
    }
    .common_frame {
        margin: 0 1rem;
    }
    ol {
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    ol li {
        flex: 1 1 auto;
    }
    .but-main a{
        width: 245px;
    }
    .but-login a{
        width: 245px;
    }
}