*{
    margin: 0;
    padding: 0;
}
.common-frame{
    margin: auto auto;
    margin-top: 6rem;
    max-width: 1720px;
    width: 100%;
}
h1{
    text-align: center;
}
ol{
    list-style: none;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: #818181;
}
ol li{
    position: relative;
}
ol li::after{
    /* 화살표 */
    content: "";
    position: absolute;
    top: 25%;
    right: -100%;
    background: url("../img/lucide_chevron-right.svg") no-repeat center / contain;
    width: 24px;
    height: 24px;    
}
ol li:last-child::after{
    /* 마지막 li에는 화살표 표시X */
    content: none;
}
ol li.act{
    color: #000;
}
ol li span{
    margin-right: 1rem;
    font-size: 0.9rem;
    
}
ol li strong{
    font-size: 1.25rem;
    font-weight: 700;
}

h1{
    margin-top: 6rem;
    text-align: center;
    white-space: pre-line;
}
.button{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font-weight: 700;
    gap: 1rem;
    align-items: center;
}
.but-login a{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 426px;
    height: 57px;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.but-main a{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #000;
    color: #fff;
    width: 426px;
    height: 57px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

