html{
    font-size: var(--basic-size-pc);
}
h1{
    text-align: center;
    margin-top: var(--space-4x-large);
}
ol{
    list-style: none;
    margin-top: var(--space-2x-large);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: #818181;
}
ol li{
    position: relative;
}
ol li::after{
    /* 화살표 */
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    background: url("../../resource/signup/lucide_chevron-right.svg") no-repeat center / contain;
    width: 24px;
    height: 24px;    
}
ol li:last-child::after{
    /* 마지막 li에는 화살표 표시X */
    content: none;
}
ol li.act{
    color: #000;
}
ol li span{
    margin-right: var(--space-normal);
    font-size: 0.9rem;
    
}
ol li strong{
    font-size: 1.25rem;
    font-weight: 700;
}

.common_frame .txt{
    margin-top: 6rem;
    text-align: center;
}
.txt1{
    margin-top: var(--space-2x-small);
}
.button{
    display: flex;
    flex-direction: column;
    margin-top: var(--space-3x-large);
    font-weight: 700;
    gap: var(--space-normal);
    align-items: center;
}
.but-login a{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 426px;
    height: 57px;
    border: 2px solid #000;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.but-main a{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #000;
    color: #fff;
    width: 426px;
    height: 57px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

