*{
    margin: 0;
    padding: 0;
}
.common-frame{
    margin: 0 5rem;
    margin-top: 6rem;
    max-width: 1720px;
    width: 100%;
}
h1{
    text-align: center;
}
ol{
    list-style: none;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: #818181;
}
ol li{
    position: relative;
}
ol li::after{
    /* 화살표 */
    content: "";
    position: absolute;
    top: 25%;
    right: -100%;
    background: url("../img/lucide_chevron-right.svg") no-repeat center / contain;
    width: 24px;
    height: 24px;    
}
ol li:last-child::after{
    /* 마지막 li에는 화살표 표시X */
    content: none;
}
ol li.act{
    color: #000;
}
ol li span{
    margin-right: 1rem;
    font-size: 0.9rem;
    
}
ol li strong{
    font-size: 1.25rem;
    font-weight: 700;
}
h2 span{
    color: #0E2687;
}
.box-text{
    width: 100%;
    height: 529px;
    border: 1px solid #000;
    margin-top: 1rem;
    overflow: scroll;
    white-space: pre-line;
    padding: 1rem;
}
.tos{
    margin-top: 6rem;
}
.chack-fame{
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.tos form{
    text-align: right;
    margin-top: 1rem;
    font-size: 1rem;
}
.common-frame>form{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 6rem;
    font-weight: 700;
}
.next-step a{
    width: 425px;
    height: 57px;
    background-color: #000;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 6rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
}