html{
    font-size: var(--basic-size-pc);
}
/* .common_frame{
    padding-top: 6rem;
} */
h1{
    text-align: center;
    margin-top: var(--space-4x-large);
}
ol{
    list-style: none;
    margin-top: var(--space-2x-large);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: var(--color-inactive);
}
ol li{
    position: relative;
}
ol li::after{
    /* 화살표 */
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    background: url("../../resource/signup/lucide_chevron-right.svg") no-repeat center / contain;
    width: 1.25rem;
    height: 1.25rem;    
}
ol li:last-child::after{
    /* 마지막 li에는 화살표 표시X */
    content: none;
}
ol li.act{
    color: #000;
}
ol li span{
    margin-right: 1rem;
    font-size: 0.9rem;
    
}
ol li strong{
    font-size: 1.25rem;
    font-weight: 700;
}
h2 span{
    color: var(--mood-in-blue-main-900);
}
.box-txt{
    height: 529px;
    border: 1px solid #000;
    margin-top: 1rem;
    overflow: scroll;
    white-space: pre-line;
    padding: 1rem;
}
.tos{
    margin-top: 6rem;
}
.chack-fame{
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.tos form{
    margin: 0;
    text-align: right;
    margin-top: 1rem;
    font-size: 1rem;
}
.common_frame>form{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 6rem;
    font-weight: 700;
}
.next-step a{
    width: 425px;
    height: 57px;
    background-color: #000;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 6rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
}