*{
    margin: 0;
    padding: 0;
}
.common-frame{
    margin: 0 5rem;
    margin-top: 6rem;
}
.order-box{
    text-align: center;
    width: 850px;
    margin: 0 auto;
}
h1{
    text-align: center;
    width: 100%;
    border-bottom: 5px solid #000;
    padding: 1rem;
}
form{
    width: 100%;
    border: none;
}
#order-number{
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
}
#order-name{
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
}
fieldset{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
    border: none;
}
.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    height: 60px;
    width: 100%;
    margin-top: 2rem;
    text-decoration: none;
}