*{
    margin: 0;
    padding: 0;
}
.common-frame{
    margin: 0 5rem;
    margin-top: 6rem;
}
.common-frame>.title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.tab-menu{
    margin-top: 6rem;
}
.tab{
    display: flex;
    gap: 1rem;
}
.tab span{
    display: flex;
        font-size: 1rem;
    width: 225px;
    height: 70px;
    border: 1px solid #000;
}
.tab .on{
    background-color: #000;
    color: #fff;
}